.barradenavegacion {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo con opacidad para que se vea el desenfoque de la imagen */
    backdrop-filter: blur(20px); /* Ajusta el valor de blur según el nivel de desenfoque deseado */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.logo {
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.imglogo {
    width: 120px;
    height: 60px;
}

.opciones {
    float: right;
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 200px;
    transition: .3s ease;
    overflow: hidden;
    justify-content: center;
    font-size: 17px;
}

.opciones a {
    padding: 0px 25px;
    float: right;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opciones a:hover{
    background-color: #021b2b;

}
.labeloption:hover {
    width: auto;
    height: auto;
}

#check {
    display: none;
}

.icons {
    cursor: pointer;
    display: none;
}

.responsivebutton {
    width: 30px;
    height: 30px;
    padding: 20px;
    background-color: transparent;

}

.lineresponsive1,
.lineresponsive2,
.lineresponsive3 {
    width: 25px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 3px 0px;
}

.equis {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 25px;
    margin-right: 5px;
}

.equis::before,
.equis::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #ffffff;

    transform: rotate(45deg);

}

.equis::after {
    transform: rotate(-45deg);
}
.active{
    background-color: #021b2b;
}
.opciones .contactbtn{
    background-color: #04ce47;
    border-radius: 15px;
    border: solid 0px transparent;
    height: 35px;
}
.opciones .contactbtn:hover{
    background-color: #00c7bd;
    color: #000000;
}

@media (max-width: 1025px) {
    .opciones {
        position: absolute;
        justify-content: center;
        margin: 0px;
        top: 80px;
        left: 0;
        width: 100%;
        margin: 0px;
        height: 0;
        color: #000000;
        flex-direction: column;
        background-color: #021b2b;/* Fondo con opacidad para que se vea el desenfoque de la imagen */
        z-index: 1;
    }
    .opciones a:hover{
        background-color: #ff0841;
        z-index: 1;


    }
    #check:checked~.opciones{
        height: auto;
    }

    .opciones a {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 15px;
        transform: translateY(-50px);
        transition: .3x ease;
        width: 100%;
    }
    a:hover{
        width: 100%;
    }
    #check:checked~.opciones a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
    }

    .responsivebutton {
        width: 40px;
        height: 40px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .lineresponsive1,
    .lineresponsive2,
    .lineresponsive3{
        background-color: #ffffff;
    }
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .responsivebutton {
        margin-right: 200px;
    }
    .imglogo{
        display: flex;
        margin-left: 40px;
    }
    .responsivebutton{
        margin-right: 20px;
    }

}
@media (max-width: 768px) {
    .imglogo{
        display: flex;
        margin-left: 55px;
    }
    .responsivebutton{
        margin-right: 35px;
    }
    .equis{
        margin-right: 35px;
    }
}
@media (max-width: 576px) {
    .imglogo{
        display: flex;
        margin-left: 30px;
    }
    .responsivebutton{
        margin-right: 10px;
    }
    .equis{
        margin-right: 10px;
    }
}


/*LOGO*/
.logocontainer{
    font-size: 13px;
    width: auto;
    height: 55px;
    background-color: transparent;
    color: aliceblue;
    border: 2px solid #ffffff;
    padding: 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.001px;
    flex-direction: column;
}
.logocontainertop{
    font-size: 20px;
    font-weight: bold;


}
.logocontainerbottom{
    font-size: 10px;
    height: 30%;

}